<section class="tabs">
    <div class="container">

        <a routerLink="tab-1" routerLinkActive="ativo">
            <div id="tab-1" class="tab-item tab-border">
                <i class="fas fa-door-open fa-3x"></i>
                <p class="hide-sm">
                    Cancele a qualquer momento </p>
            </div>
        </a>

        <a routerLink="tab-2" routerLinkActive="ativo">
            <div id="tab-2" class="tab-item">
                <i class="fas fa-tablet-alt fa-3x"></i>
                <p class="hide-sm">
                    Assista em qualquer lugar </p>
            </div>
        </a>

        <a routerLink="tab-3" routerLinkActive="ativo">
            <div id="tab-3" class="tab-item">
                <i class="fas fa-tags fa-3x"></i>
                <p class="hide-sm">
                    Escolha o seu preço</p>
            </div>
        </a>
    </div>
</section>


<router-outlet></router-outlet>