<section class="tab-content">
    <div class="container">
        <div id="tab-1-content" class="tab-content-item show">
            <div class="tab-1-content-inner">
                <div>
                    <p class="text-lg">
                        Se você decidir que o Netflix não é para você - não há problemas. Sem comproomisso. Cancele a qualquer momento.
                    </p>
                    <a href="#" class="btn btn-lg">{{ btn }}</a>
                </div>
                <img src="../../assets/img/tab-content-1.png" alt="" />
            </div>
        </div>
    </div>
</section>