<section class="tab-content">
    <div class="container">
        <div id="tab-3-content" class="tab-content-item">
            <div class="text-center">
                <p class="text-lg">Escolha um plano e assista tudo no Netflix</p>
                <a href="#" class="btn btn-lg">{{ btn }}</a>
            </div>

            <table class="table">
                <thead>
                    <tr>
                        <th></th>
                        <th>Básico</th>
                        <th>Padrão</th>
                        <th>Premium</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Preço mensal termina em 06/09/19</td>
                        <td>R$ 15,99</td>
                        <td>18,99</td>
                        <td>R$ 21,90</td>
                    </tr>
                    <tr>
                        <td>HD Disponivél</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Ultra HD Disponivél</td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-times"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Telas que você pode assistir ao mesmo tempo</td>
                        <td>1</td>
                        <td>2</td>
                        <td>4</td>
                    </tr>
                    <tr>
                        <td>Assista em seu laptop, telefone e tablet</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Filmes ilimitados e programas de TV</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Cancele a qualquer momento</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                    <tr>
                        <td>Primeiro mês gratis</td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                        <td><i class="fas fa-check"></i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>