$main-primary-color: #e50914;
$main-white-color: #fff;
$main-text-dark-color: #999;
*,
*:before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Arial", sans-serif;
    --webkit-font-smoothing: antialiased;
    background: #000;
    color: #999;
}

h1,
h2,
h3,
h4 {
    color: $main-white-color;
}

a {
    color: $main-white-color;
    text-decoration: none;
}

p {
    margin: 0.5rem 0;
}

.btn {
    display: inline-block;
    background: $main-primary-color;
    color: #fff;
    padding: 0.4rem 1.3rem;
    font-size: 1rem;
    text-align: center;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    transition: opacity 0.2s ease-in;
    outline: none;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.45);
    border-radius: 2px;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    max-width: 70%;
    margin: auto;
    overflow: hidden;
    padding: 0 2rem;
}

.btn-xl {
    font-size: 1.4rem;
    padding: 1.5rem 2.1rem;
    text-transform: uppercase;
    width: 35rem;
}

.btn-lg {
    font-size: 1rem;
    padding: 0.8rem 1.3rem;
    text-transform: uppercase;
}

// Tab Content
.tab-content {
    padding: 3rem 0;
    background: #000;
    color: $main-white-color;
}

img {
    width: 100%;
}

// Text style
.text-xl {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.text-lg {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.text-md {
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.text-center {
    text-align: center;
}

.text-dark {
    color: $main-text-dark-color;
}

//responsivel
@media (max-width: 960px) {
    .showcase {
        height: 70vh;
    }
    .showcase-top img {
        top: 30%;
        left: 5%;
        transform: translate(0);
    }
    .showcase-content h1 {
        font-size: 3.7rem;
        line-height: 1;
    }
    .showcase-content p {
        font-size: 1.5rem;
    }
    .footer .footer-cols {
        grid-template-columns: repeat(2, 1fr);
    }
    .btn-xl {
        font-size: 1.5rem;
        padding: 1.4rem 2rem;
    }
    .text-xl {
        font-size: 1.5rem;
    }
    .text-lg {
        font-size: 1.3rem;
    }
    .text-md {
        font-size: 1rem;
    }
}

@media (max-width: 700px) {
    .showcase::after {
        background: rgba(0, 0, 0, 0.6);
        box-shadow: inset 80px 80px 150px #000000, inset -80px -80px 150px #000000;
    }
    .showcase-content h1 {
        font-size: 2.5rem;
        line-height: 1;
    }
    .showcase-content p {
        font-size: 1rem;
    }
    #tab-1-content .tab-1-content-inner {
        grid-template-columns: 1fr;
        text-align: center;
    }
    #tab-2-content .tab-2-content-top {
        display: block;
        text-align: center;
    }
    #tab-2-content .tab-2-content-bottom {
        margin-top: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-gap: 2rem;
        text-align: center;
    }
    .btn-xl {
        font-size: 1rem;
        padding: 1.2rem 1.6rem;
        text-transform: uppercase;
    }
}

@media only screen and (max-width: 600px) {
    .showcase-content {
        margin-top: 3rem;
    }
    .showcase-content h1 {
        font-size: 10px;
    }
    .btn-xl {
        width: 25rem;
    }
}